<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <H1>Client Lookup</H1>
    </div>
    
    <div th:insert="fragments/frags :: navbar"></div>
    <div class="contentContainer">
    <div class="query">

        <form action="/findByCompany" class="queryItem">
          <h3>Find by client company</h3>
          <label for="clientCompany">Company Name</label>
          <input type="text" name="clientCompany" , id="clientCompany" />
          <br />
          <input type="submit" value="Send" />
        </form>

        <form action="/findByClientName" class="queryItem">
          <h3>Find by client name</h3>
          <label for="clientName">Client Name</label>
          <input type="text" name="clientName" , id="clientName" />
          <br />
          <input type="submit" value="Send" />
        </form>
 

        <form action="/findByCompanyAndAddress" class="queryItem">
          <h3>Find by client company</h3>
          <label for="clientCompany">Company Name</label>
          <input type="text" name="clientCompany" , id="clientCompany" />
          <label for="clientAddress">Address</label>
          <input type="text" name="clientAddress" , id="clientAddress" />
          <br />
          <input type="submit" value="Send" />
        </form>

    </div>

    <div>
    <table class="clientTable">
        <tr>
            <th>Client ID</th>
            <th>Client Name</th>
            <th>Client Company</th>
            <th>Client Phone</th>
            <th>Client Address</th>
            <tr th:each="clients:${client}">
               <td th:text="${clients.clientId}"></td> 
                <td th:text="${clients.clientName}"></td>
                <td th:text="${clients.clientCompany}"></td>
                <td th:text="${clients.clientPhone}"></td>
                <td th:text="${clients.clientAddress}"></td>
            </tr>
        </tr>
    </table>
    </div>
    <div class="nonNavBarButton">
        <a class="navlink" href="/addclient">Add A Client</a>
    </div>
    </div>
</body>
</html>