<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Employee</title>

    <style>
        table.border {border: black solid; border-collapse: collapse; margin: auto;}
        table.border td {border: black solid thin}
        table.noborder td {border: none}
        
    </style>

    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
    <div class="banner">
    <h1 class="heading">Employee Page</h1>
    </div>
    <div th:insert="fragments/frags :: navbar" class="navbar">
    </div>
    <div class="contentContainer">
      <div class="banner">
          <h1>Show Employees</h1>
      </div>
      <div class="query">
        <form action="searchAllEmployees" method="POST" >
            <br>
            <br>
            <button>Show All Employees</button>
            
        </form>
        <form action="searchEmployeeLastNameChar" method="POST" class="queryItem">
                <label for="lastNameChar">Search by First letter in Last Name (case sensitive)</label>
                <br>
                <input type="text" name="lastNameChar" id="lastNameChar" size="1" maxlength="1">
                <br>
                <button>Show Employee by Single Character</button>
                <br>
                <br>
        </form>
        <form action="searchEmployeeLastName" method="POST" class="queryItem">
                <label for="lastNameString">Search by Last Name Starting with sequence of letters (not case sensitive)</label>
                <br>
                <input type="text" name="lastNameString" id="lastNameString" size="30" maxlength="30">
                <br>
                <button>Show Employee containing phrase</button>
                <br>
        </form>
    </div>
    
    
    <table class="clientTable">
        <tr>
            <th colspan="2">Employees</th>
            <th>Emails</th>
            <tr th:each="employee:${employee}">
                <td th:text="${employee.employeeFirstName}"></td>
                <td th:text="${employee.employeeLastName}"></td>
                <td th:text="${employee.employeeEmail}"></td>
                <td th:text="${employee.employeeRole}"></td>
                <td th:text="${employee.employeePhone}"></td>
            </tr>
        </tr>
    </table>
    </div>

</body>
</html>