<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,td,th {border: black solid}
        table.border {border: black solid; border-collapse: collapse; margin: auto;}
        table.border td {border: black solid thin}
        table.noborder td {border: none}
    </style>
  
</head>
<body>
    <h1>Schedule</h1>
    <div th:insert="fragments/frags :: navbar" class="navbar"></div>

    <table class="border">
        <tr>
            <th colspan="8">Schedule</th> 
        </tr>
        <tr>
            <th>Schedule ID</th>
            <th colspan="3">Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Employee</th>
            <th>Project</th>
        </tr>
        <tr th:each="schedule:${schedule}">
            <td th:text="${schedule.scheduleID}"></td>
            <td colspan="3" th:text="${schedule.sch_day} + '/' + ${schedule.sch_month} + '/' + ${schedule.sch_year}"></td>
            <td th:text="${schedule.sch_start_time}"></td>
            <td th:text="${schedule.sch_end_time}"></td>
            <td>
                <table class='noborder'>
                    <tr th:each="schedule:${schedule.employee}">
                        <td th:text="${schedule.emp_name}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class='noborder'>
                    <tr th:each="schedule:${schedule.project}">
                        <td th:text="${schedule.projectId}"></td>
                    </tr>
                </table>
            </td>
        </tr>
        

    </table>
</body>
</html>